<%- include('./partials/header.ejs') %>
    <form action="/recipes/<%= recipe.id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= recipe.name %>">

        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5"><%= recipe.description %></textarea>

        <h2>Course</h2>
        <input type="radio" name="course" id="breakfast" value="Breakfast" <% if(recipe.course === 'Breakfast') { %> checked <%  } %> >
        <label for="breakfast">Breakfast</label>
        <input type="radio" name="course" id="lunch" value="Lunch" <% if(recipe.course === 'Lunch') { %> checked <%  } %>>
        <label for="lunch">Lunch</label>
        <input type="radio" name="course" id="dinner" value="Dinner" <% if(recipe.course === 'Dinner') { %> checked <%  } %>>
        <label for="dinner">Dinner</label>
        <input type="radio" name="course" id="snack" value="Snack" <% if(recipe.course === 'Snack') { %> checked <%  } %>>
        <label for="snack">Snack</label>

        <label for="one_pot">One Pot</label>
        <input type="checkbox" name="one_pot" id="one_pot"<% if(recipe.one_pot === true) { %> checked <%  } %>>
        <label for="sheet_pan">Sheet Pan</label>
        <input type="checkbox" name="sheet_pan" id="sheet_pan"<% if(recipe.sheet_pan === true) { %> checked <%  } %>>
        <label for="quick_and_easy">Quick and Easy</label>
        <input type="checkbox" name="quick_and_easy" id="quick_and_easy"<% if(recipe.quick_and_easy === true) { %> checked <%  } %>>
        <label for="limited_ingredients">Limited Ingredients</label>
        <input type="checkbox" name="limited_ingredients" id="limited_ingredients"<% if(recipe.limited_ingredients === true) { %> checked <%  } %>>

        <label id="prep_time">Prep Time</label>
        <input type="number" name="prep_time" id="prep_time" min="1" value="<%= recipe.prep_time %>">Minutes
        <label id="cook_time">Cook Time</label>
        <input type="number" name="cook_time" id="cook_time" min="1" value="<%= recipe.cook_time %>">Minutes

        <h1>Ingredient 1</h1>
        <label for="ingredient_1">Ingredient</label>
        <input type="text" name="ingredient_1" id="ingredient_1" value="<%= recipe.ingredient_1 %>">
        <label for="ingredient_quantity_1">Ingredient Qantity</label>
        <input type="number" name="ingredient_quantity_1" id="ingredient_quantity_1" value="<%= recipe.ingredient_quantity_1 %>">
        <label for="ingredient_unit_of_measurement_1">Ingredient Measurement</label>
        <input type="text" name="ingredient_unit_of_measurement_1" id="ingredient_unit_of_measurement_1" value="<%= recipe.ingredient_unit_of_measurement_1 %>">

        <h1>Ingredient 2</h1>
        <label for="ingredient_2">Ingredient</label>
        <input type="text" name="ingredient_2" id="ingredient_2" value="<%= recipe.ingredient_2 %>">
        <label for="ingredient_2_quantity">Ingredient Qantity</label>
        <input type="number" name="ingredient_2_quantity" id="ingredient_2_quantity" value="<%= recipe.ingredient_2_quantity %>">
        <label for="ingredient_2_unit_of_measurement">Ingredient Measurement</label>
        <input type="text" name="ingredient_2_unit_of_measurement" id="ingredient_2_unit_of_measurement" value="<%= recipe.ingredient_2_unit_of_measurement %>">
        <h1>Ingredient 3</h1>
        <label for="ingredient_3">Ingredient</label>
        <input type="text" name="ingredient_3" id="ingredient_3" value="<%= recipe.ingredient_3 %>">
        <label for="ingredient_3_quantity">Ingredient Qantity</label>
        <input type="number" name="ingredient_3_quantity" id="ingredient_3_quantity" value="<%= recipe.ingredient_3_quantity %>">
        <label for="ingredient_3_unit_of_measurement">Ingredient Measurement</label>
        <input type="text" name="ingredient_3_unit_of_measurement" id="ingredient_3_unit_of_measurement" value="<%= recipe.ingredient_3_unit_of_measurement %>">
        <h1>Ingredient 4</h1>
        <label for="ingredient_4">Ingredient</label>
        <input type="text" name="ingredient_4" id="ingredient_4" value="<%= recipe.ingredient_4 %>">
        <label for="ingredient_4_quantity">Ingredient Qantity</label>
        <input type="number" name="ingredient_4_quantity" id="ingredient_4_quantity" value="<%= recipe.ingredient_4_quantity %>">
        <label for="ingredient_4_unit_of_measurement">Ingredient Measurement</label>
        <input type="text" name="ingredient_4_unit_of_measurement" id="ingredient_4_unit_of_measurement" value="<%= recipe.ingredient_4_unit_of_measurement %>">
        <h1>Ingredient 5</h1>
        <label for="ingredient_5">Ingredient</label>
        <input type="text" name="ingredient_5" id="ingredient_5" value="<%= recipe.ingredient_5 %>">
        <label for="ingredient_5_quantity">Ingredient Qantity</label>
        <input type="number" name="ingredient_5_quantity" id="ingredient_5_quantity" value="<%= recipe.ingredient_5_quantity %>">
        <label for="ingredient_5_unit_of_measurement">Ingredient Measurement</label>
        <input type="text" name="ingredient_5_unit_of_measurement" id="ingredient_5_unit_of_measurement" value="<%= recipe.ingredient_5_unit_of_measurement %>">
        <h1>Ingredient 6</h1>
        <label for="ingredient_6">Ingredient</label>
        <input type="text" name="ingredient_6" id="ingredient_6" value="<%= recipe.ingredient_6 %>">
        <label for="ingredient_6_quantity">Ingredient Qantity</label>
        <input type="number" name="ingredient_6_quantity" id="ingredient_6_quantity" value="<%= recipe.ingredient_6_quantity %>">
        <label for="ingredient_6_unit_of_measurement">Ingredient Measurement</label>
        <input type="text" name="ingredient_6_unit_of_measurement" id="ingredient_6_unit_of_measurement" value="<%= recipe.ingredient_6_unit_of_measurement %>">
        <h1>Ingredient 7</h1>
        <label for="ingredient_7">Ingredient</label>
        <input type="text" name="ingredient_7" id="ingredient_7" value="<%= recipe.ingredient_7 %>">
        <label for="ingredient_7_quantity">Ingredient Qantity</label>
        <input type="number" name="ingredient_7_quantity" id="ingredient_7_quantity" value="<%= recipe.ingredient_7_quantity %>">
        <label for="ingredient_7_unit_of_measurement">Ingredient Measurement</label>
        <input type="text" name="ingredient_7_unit_of_measurement" id="ingredient_7_unit_of_measurement" value="<%= recipe.ingredient_7_unit_of_measurement %>">
        <h1>Ingredient 8</h1>
        <label for="ingredient_8">Ingredient</label>
        <input type="text" name="ingredient_8" id="ingredient_8" value="<%= recipe.ingredient_8 %>">
        <label for="ingredient_8_quantity">Ingredient Qantity</label>
        <input type="number" name="ingredient_8_quantity" id="ingredient_8_quantity" value="<%= recipe.ingredient_8_quantity %>">
        <label for="ingredient_8_unit_of_measurement">Ingredient Measurement</label>
        <input type="text" name="ingredient_8_unit_of_measurement" id="ingredient_8_unit_of_measurement" value="<%= recipe.ingredient_8_unit_of_measurement %>">
        <h1>Ingredient 9</h1>
        <label for="ingredient_9">Ingredient</label>
        <input type="text" name="ingredient_9" id="ingredient_9" value="<%= recipe.ingredient_9 %>">
        <label for="ingredient_9_quantity">Ingredient Qantity</label>
        <input type="number" name="ingredient_9_quantity" id="ingredient_9_quantity" value="<%= recipe.ingredient_9_quantity %>">
        <label for="ingredient_9_unit_of_measurement">Ingredient Measurement</label>
        <input type="text" name="ingredient_9_unit_of_measurement" id="ingredient_9_unit_of_measurement" value="<%= recipe.ingredient_9_unit_of_measurement %>">
        <h1>Ingredient 10</h1>
        <label for="ingredient_10">Ingredient</label>
        <input type="text" name="ingredient_10" id="ingredient_10" value="<%= recipe.ingredient_10 %>">
        <label for="ingredient_10_quantity">Ingredient Qantity</label>
        <input type="number" name="ingredient_10_quantity" id="ingredient_10_quantity" value="<%= recipe.ingredient_10_quantity %>">
        <label for="ingredient_10_unit_of_measurement">Ingredient Measurement</label>
        <input type="text" name="ingredient_10_unit_of_measurement" id="ingredient_10_unit_of_measurement" value="<%= recipe.ingredient_10_unit_of_measurement %>">

        <h1>Instruction 1</h1>
        <label for="instruction_1_name">Name</label>
        <input type="text" name="instruction_1_name" id="instruction_1_name" value="<%= recipe.instruction_1_name %>">
        <label for="instruction_1_description">Description</label>
        <textarea name="instruction_1_description" id="instruction_1_description"><%= recipe.instruction_1_description %></textarea>
        <h1>Instruction 2</h1>
        <label for="instruction_2_name">Name</label>
        <input type="text" name="instruction_2_name" id="instruction_2_name" value="<%= recipe.instruction_2_name %>">
        <label for="instruction_2_description">Description</label>
        <textarea name="instruction_2_description" id="instruction_2_description"><%= recipe.instruction_2_description %></textarea>
        <h1>Instruction 3</h1>
        <label for="instruction_3_name">Name</label>
        <input type="text" name="instruction_3_name" id="instruction_3_name" value="<%= recipe.instruction_3_name %>">
        <label for="instruction_3_description">Description</label>
        <textarea name="instruction_3_description" id="instruction_3_description"><%= recipe.instruction_3_description %></textarea>
        <h1>Instruction 4/h1>
        <label for="instruction_4_name">Name</label>
        <input type="text" name="instruction_4_name" id="instruction_4_name" value="<%= recipe.instruction_4_name %>">
        <label for="instruction_4_description">Description</label>
        <textarea name="instruction_4_description" id="instruction_4_description"><%= recipe.instruction_4_description %></textarea>
        <h1>Instruction 5</h1>
        <label for="instruction_5_name">Name</label>
        <input type="text" name="instruction_5_name" id="instruction_5_name" value="<%= recipe.instruction_5_name %>">
        <label for="instruction_5_description">Description</label>
        <textarea name="instruction_5_description" id="instruction_5_description"><%= recipe.instruction_5_description %></textarea>
        <h1>Instruction 6</h1>
        <label for="instruction_6_name">Name</label>
        <input type="text" name="instruction_6_name" id="instruction_6_name" value="<%= recipe.instruction_6_name %>">
        <label for="instruction_6_description">Description</label>
        <textarea name="instruction_6_description" id="instruction_6_description"><%= recipe.instruction_6_description %></textarea>
        <h1>Instruction 7</h1>
        <label for="instruction_7_name">Name</label>
        <input type="text" name="instruction_7_name" id="instruction_7_name" value="<%= recipe.instruction_7_name %>">
        <label for="instruction_7_description">Description</label>
        <textarea name="instruction_7_description" id="instruction_7_description"><%= recipe.instruction_7_description %></textarea>
        <h1>Instruction 8</h1>
        <label for="instruction_8_name">Name</label>
        <input type="text" name="instruction_8_name" id="instruction_8_name" value="<%= recipe.instruction_8_name %>">
        <label for="instruction_8_description">Description</label>
        <textarea name="instruction_8_description" id="instruction_8_description"><%= recipe.instruction_8_description %></textarea>
        <h1>Instruction 9</h1>
        <label for="instruction_9_name">Name</label>
        <input type="text" name="instruction_9_name" id="instruction_9_name" value="<%= recipe.instruction_9_name %>">
        <label for="instruction_9_description">Description</label>
        <textarea name="instruction_9_description" id="instruction_9_description"><%= recipe.instruction_9_description %></textarea>
        <h1>Instruction 10</h1>
        <label for="instruction_10_name">Name</label>
        <input type="text" name="instruction_10_name" id="instruction_10_name" value="<%= recipe.instruction_10_name %>">
        <label for="instruction_10_description">Description</label>
        <textarea name="instruction_10_description" id="instruction_10_description"><%= recipe.instruction_10_description %></textarea>

        <label for="notes">Notes</label>
        <textarea name="notes" id="notes"><%= recipe.notes %></textarea>
        <input type="submit" value="Edit Recipe">
    </form>
<%- include('./partials/footer.ejs') %>