<%- include('./partials/header.ejs') %>
<form action="/recipes/<%= recipe.id %>?_method=PUT" method="POST">
            <div class="container">
                <div class="navbar-start">
                    <h1 class="title is-2">Edit Recipe</h1>
                </div>
                <div class="navbar-end">
                 <input input class="button" type="submit" value="Save Changes">
                </div>
            </div>
        <div class="container" style="margin-top: 100px;">
            <div class="field">
                <label class="label" class="label" for="name">Name</label>
                <div class="control">
                    <input class="input" type="text" name="name" id="name" value="<%= recipe.name %>">
                </div>
            </div>

            <label class="label" for="description">Description</label>
            <textarea class="textarea" name="description" id="description" rows="5"><%= recipe.description %></textarea>


            <div class="field">
                <div class="control">
                    <label class="radio" for="breakfast">
                        <input type="radio" name="course" id="breakfast" value="Breakfast"  <% if(recipe.course === 'Breakfast') { %> checked <%  } %>>
                        Breakfast
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio" for="lunch">
                        <input type="radio" name="course" id="lunch" value="Lunch" <% if(recipe.course === 'Lunch') { %> checked <%  } %>>
                        Lunch
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio" for="dinner">
                        <input type="radio" name="course" id="dinner" value="Dinner" <% if(recipe.course === 'Dinner') { %> checked <%  } %>>
                        Dinner
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio" for="snack">
                        <input type="radio" name="course" id="snack" value="Snack" <% if(recipe.course === 'Snack') { %> checked <%  } %>>
                        Snack
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox" for="one_pot">
                        <input type="checkbox" name="one_pot" id="one_pot" <% if(recipe.one_pot === true) { %> checked <%  } %>>
                        One Pot
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox" for="sheet_pan">
                        <input type="checkbox" name="sheet_pan" id="sheet_pan" <% if(recipe.sheet_pan === true) { %> checked <%  } %>>
                        Sheet Pan
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox" for="quick_and_easy">
                        <input type="checkbox" name="quick_and_easy" id="quick_and_easy" <% if(recipe.quick_and_easy === true) { %> checked <%  } %>>
                        Quick and Easy
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox" for="limited_ingredients">
                        <input type="checkbox" name="limited_ingredients" id="limited_ingredients" <% if(recipe.limited_ingredients === true) { %> checked <%  } %>>
                        Limited Ingredients
                    </label>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <label class="label" id="prep_time">Prep Time</label>
                    <input class="input" type="number" name="prep_time" id="prep_time" min="1" value="<%= recipe.prep_time %>">Minutes
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label" id="cook_time">Cook Time</label>
                    <input class="input" type="number" name="cook_time" id="cook_time" min="1" value="<%= recipe.cook_time %>">Minutes
                </div>
            </div>

            <h1 class="title is-4">Ingredient 1</h1>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_1">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_1" id="ingredient_1" value="<%= recipe.ingredient_1 %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_1_quantity">Quantity</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_1_quantity" id="ingredient_1_quantity" value="<%= recipe.ingredient_1_quantity %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_1_measurement">Measurement</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_1_measurement" id="ingredient_1_measurement" value="<%= recipe.ingredient_1_measurement %>">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title is-4">Ingredient 2</h1>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_2">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_2" id="ingredient_2" value="<%= recipe.ingredient_2 %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_2_quantity">Quantity</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_2_quantity" id="ingredient_2_quantity" value="<%= recipe.ingredient_2_quantity %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_2_measurement">Measurement</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_2_measurement" id="ingredient_2_measurement" value="<%= recipe.ingredient_2_measurement %>">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title is-4">Ingredient 3</h1>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_3">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_3" id="ingredient_3" value="<%= recipe.ingredient_3 %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_3_quantity">Quantity</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_3_quantity" id="ingredient_3_quantity" value="<%= recipe.ingredient_3_quantity %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_3_measurement">Measurement</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_3_measurement" id="ingredient_3_measurement" value="<%= recipe.ingredient_3_measurement %>">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title is-4">Ingredient 4</h1>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_4">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_4" id="ingredient_4" value="<%= recipe.ingredient_4 %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_4_quantity">Quantity</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_4_quantity" id="ingredient_4_quantity" value="<%= recipe.ingredient_4_quantity %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_4_measurement">Measurement</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_4_measurement" id="ingredient_4_measurement" value="<%= recipe.ingredient_4_measurement %>">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title is-4">Ingredient 5</h1>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_5">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_5" id="ingredient_5" value="<%= recipe.ingredient_5 %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_5_quantity">Quantity</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_5_quantity" id="ingredient_5_quantity" value="<%= recipe.ingredient_5_quantity %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_5_measurement">Measurement</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_5_measurement" id="ingredient_5_measurement" value="<%= recipe.ingredient_5_measurement %>">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title is-4">Ingredient 6</h1>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_6">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_6" id="ingredient_6" value="<%= recipe.ingredient_6 %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_6_quantity">Quantity</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_6_quantity" id="ingredient_6_quantity" value="<%= recipe.ingredient_6_quantity %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_6_measurement">Measurement</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_6_measurement" id="ingredient_6_measurement" value="<%= recipe.ingredient_6_measurement %>">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title is-4">Ingredient 7</h1>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_7">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_7" id="ingredient_7" value="<%= recipe.ingredient_7 %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_7_quantity">Quantity</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_7_quantity" id="ingredient_7_quantity" value="<%= recipe.ingredient_7_quantity %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_7_measurement">Measurement</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_7_measurement" id="ingredient_7_measurement" value="<%= recipe.ingredient_7_measurement %>">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title is-4">Ingredient 8</h1>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_8">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_8" id="ingredient_8" value="<%= recipe.ingredient_8 %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_8_quantity">Quantity</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_8_quantity" id="ingredient_8_quantity" value="<%= recipe.ingredient_8_quantity %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_8_measurement">Measurement</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_8_measurement" id="ingredient_8_measurement" value="<%= recipe.ingredient_8_measurement %>">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title is-4">Ingredient 9</h1>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_9">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_9" id="ingredient_9" value="<%= recipe.ingredient_9 %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_9_quantity">Quantity</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_9_quantity" id="ingredient_9_quantity" value="<%= recipe.ingredient_9_quantity %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_9_measurement">Measurement</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_9_measurement" id="ingredient_9_measurement" value="<%= recipe.ingredient_9_measurement %>">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title is-4">Ingredient 10</h1>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_10">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_10" id="ingredient_10" value="<%= recipe.ingredient_10 %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_10_quantity">Quantity</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_10_quantity" id="ingredient_10_quantity" value="<%= recipe.ingredient_10_quantity %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="ingredient_10_measurement">Measurement</label>
                        <div class="control">
                            <input class="input" type="text" name="ingredient_10_measurement" id="ingredient_10_measurement" value="<%= recipe.ingredient_10_measurement %>">
                        </div>
                    </div>
                </div>
            </div>
            

            

            <h1 class="title is-4">Instruction 1</h1>
            <div class="field">
                <label class="label" for="instruction_1_description">Description</label>
                <div class="control">
                    <textarea class="textarea" name="instruction_1_description" id="instruction_1_description"><%= recipe.instruction_1_description %></textarea>
                </div>
            </div>

            <h1 class="title is-4">Instruction 2</h1>
            <div class="field">
                <label class="label" for="instruction_2_description">Description</label>
                <div class="control">
                    <textarea class="textarea" name="instruction_2_description" id="instruction_2_description"><%= recipe.instruction_2_description %></textarea>
                </div>
            </div>

            <h1 class="title is-4">Instruction 3</h1>
            <div class="field">
                <label class="label" for="instruction_3_description">Description</label>
                <div class="control">
                    <textarea class="textarea" name="instruction_3_description" id="instruction_3_description"><%= recipe.instruction_3_description %></textarea>
                </div>
            </div>

            <h1 class="title is-4">Instruction 4</h1>
            <div class="field">
                <label class="label" for="instruction_4_description">Description</label>
                <div class="control">
                    <textarea class="textarea" name="instruction_4_description" id="instruction_4_description"><%= recipe.instruction_4_description %></textarea>
                </div>
            </div>

            <h1 class="title is-4">Instruction 5</h1>
            <div class="field">
                <label class="label" for="instruction_5_description">Description</label>
                <div class="control">
                    <textarea class="textarea" name="instruction_5_description" id="instruction_5_description"><%= recipe.instruction_5_description %></textarea>
                </div>
            </div>

            <h1 class="title is-4">Instruction 6</h1>
            <div class="field">
                <label class="label" for="instruction_6_description">Description</label>
                <div class="control">
                    <textarea class="textarea" name="instruction_6_description" id="instruction_6_description"><%= recipe.instruction_6_description %></textarea>
                </div>
            </div>

            <h1 class="title is-4">Instruction 7</h1>
            <div class="field">
                <label class="label" for="instruction_7_description">Description</label>
                <div class="control">
                    <textarea class="textarea" name="instruction_7_description" id="instruction_7_description"><%= recipe.instruction_7_description %></textarea>
                </div>
            </div>

            <h1 class="title is-4">Instruction 8</h1>
            <div class="field">
                <label class="label" for="instruction_8_description">Description</label>
                <div class="control">
                    <textarea class="textarea" name="instruction_8_description" id="instruction_8_description"><%= recipe.instruction_8_description %></textarea>
                </div>
            </div>

            <h1 class="title is-4">Instruction 9</h1>
            <div class="field">
                <label class="label" for="instruction_9_description">Description</label>
                <div class="control">
                    <textarea class="textarea" name="instruction_9_description" id="instruction_9_description"><%= recipe.instruction_9_description %></textarea>
                </div>
            </div>

            <h1 class="title is-4">Instruction 10</h1>
            <div class="field">
                <label class="label" for="instruction_10_description">Description</label>
                <div class="control">
                    <textarea class="textarea" name="instruction_10_description" id="instruction_10_description"><%= recipe.instruction_10_description %></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label" for="notes">Notes</label>
                <div class="control">
                    <textarea class="textarea" name="notes" id="notes"><%= recipe.notes %></textarea>
                </div>
            </div>
            
            

            <input input class="button" type="submit" value="Save Changes">
        </div>
    </form>
<%- include('./partials/footer.ejs') %>