<%- include('./partials/header.ejs') %>
    
    <div class="container">
        <div class="columns is-multiline">
            <% for (i = 0; i < recipes.length; i++) { %>
                <div class="column is-one-third">
                    <a href="/recipes/<%= recipes[i].id %>" >
                    <div class="card">
                        <header class="card-header p-2">
                            <h1 class="title is-3"><%= recipes[i].name %></h1>
                        </header>
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="<%= recipes[i].image %>" alt="<%= recipes[i].name %> image">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
    
<%- include('./partials/footer.ejs') %>